@use "variables";

@mixin position() {
    text-align: center;
    position: absolute;
    top: 110px;
    right: 50px;

    p {
        margin-top: 25px;
        max-width: 300px;
    }
}

.informations {
    margin: 150px 0px;
    
    &-list {
        display: flex;
        align-items: center;
        justify-content: center;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;

        &-item {
            position: relative;

            img {
                width: 400px;
            }

            &-content-what {
                @include position;
            }

            &-content-book {
                @include position;
            }

            &-content-film {
                @include position;
            }
        }
    }
}

@media (max-width: 767px) {
    .informations {
        &-list {
            display: block;

            &-item {
                &-content-what {
                    right: 40px;
                }

                &-content-book {
                    right: 40px;
                }
    
                &-content-film {
                    right: 40px;
                }
            }
        }
    }
}