@use "hero";
@use "variables";
@use "informations";
@use "characters";
@use "synopsis";

@mixin text($fontSize: 18px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variables.$corDeTexto;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variables.$corDeTextoSecundaria;
}

.text {
    @include text;
}

.title {
    @include title;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Playpen Sans', cursive;
    list-style: none;
}

body {
    background-color: variables.$corDeFundo;
}