.synopsis {
    display: flex;
    justify-content: center;

    &-container {
        display: flex;
        align-items: center;
        margin-top: 700px;
        max-width: 1280px;

        img {
            width: 800px;
        }
    
        &-content {
            text-align: center;
            max-width: 600px;
    
            p {
                margin-top: 25px;
            }
        }
    }
    }
